.about{
    width: 50%;
}
.about-me{
    font-size: 1.1em;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
    .about{
        width: 65%;
    }
    .about-me{
        padding: 0 1.5em;
    }
}