.btn-social {
    font-weight: 600 !important;
    transition: all 1s;
}

.btn-social:hover {
    /* animation: pulse 1s; */
    transform: scale(.9);
    transition: .3s;
}
.btn-google {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;


}
/* .btn-google:hover {
    color: white !important;
    background-color: #F34F44 !important;
} */
.btn-facebook {
    border: 2px solid #259FF1 !important;
} 
